.idea/
.vscode/

__pycache__/
*.py[cod]
.venv/
venv/
env/

*.log
logs/

docker/pg_data/
docker/vault_file/
docker/keys.txt
docker/cntr_compose.py
docker_compose.bat

*.xlsx

kill_docker.bat
sarif_pretty_report.py
results/